html {
    font-family: Courier, mono;
}

body {
    font-weight: bold;
    background-color: rgb(20, 20, 20);
	margin: 0.5em 1em;
    padding: 0px;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

a:link {
    color: red;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}

.no-style {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.no-style:link {
    color: inherit;
}

/* visited link */
.no-style:visited {
    color: inherit;
}

/* mouse over link */
.no-style:hover {
    color: inherit;
}

/* selected link */
.no-style:active {
    color: inherit;
}

.centered {
    text-align: center;
}

.green {
    color: rgb(36, 218, 0);
}

.yellow {
    color: rgb(229, 255, 79);
}

.violet {
    color: rgb(125, 0, 150);
}